body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

button:hover {
    background: #3c5a2b;
    transform: scale(1.01);
    transition: 0.1s;
    cursor: pointer;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

#delete-btn:hover {
    background: rgb(188, 188, 188); 
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}