body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    background-color: #5f9341;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #5f9341;
}